STRINGTABLE
{
//Deutsch
100, "Information"
101, "Warnung"
102, "Fehler"
103, "Frage"
104, "Bestätigung"
105, "Update"
106, "abbrechen"
107, "Abgebrochen!"
108, "Fertig!"
109, "Bitte Download-Ordner wählen"
110, "Ansicht"
111, "Wollen Sie das Update jetzt installieren?"
112, "Keine Verbindung zum Update-Server!"
113, "Bitte überprüfen Sie ihre Internetverbindung und versuchen Sie es erneut."
114, "Hilfe"
115, "Nach Update suchen"
116, "Zertifikat herunterladen"
117, "Über ..."
118, " nicht möglich!"
119, " HTTP Fehler: %d"
120, ""
121, "Update (Build %d) verfügbar!"
122, "Möchten Sie es jetzt herunterladen?"
123, "Kein Update verfügbar!"
124, "Update herunterladen"
125, "Sprache wählen"
126, "Fehler melden"
127, "Das Zertifikat von PM Code Works ist bereits installiert!"
128, "Wollen Sie es trotzdem herunterladen?"
129, "Zur Website"
130, "Download wurde abgebrochen!"
131, "Schwerwiegender Fehler"
132, "Technische Details"
133, ""
134, "Seit kurzem wird %s als 64-Bit Version zum Download angeboten, wodurch "
135, "Ihr System Ressourcen optimaler nutzen kann. Wollen Sie diese herunterladen?"
136, "Registry Datei *.reg|*.reg"
137, ""
138, ""
139, ""
140, ""
141, "Download"
142, "Wollen Sie %s jetzt installieren?"
143, "Es wurde nichts ausgewählt!"
144, "\"PM Code Works\" Projekte"
145, "Ein Reinigungs-Programm zum Editieren von Diensten, Autostart- und Kontextmenü-"
146, "Einträgen"
147, "Ein Kindersicherungsprogramm zur Berechtigungsverwaltung mit Passwort-Funktion"
148, ""
149, "Ein Programm zum unkompliziertem Eintragen von Firmen- bzw. "
150, "Herstellerinformationen"
151, "Ein praktischer Wecker zum Erinnern an alles Mögliche"
152, "Skript zur vereinfachten und automatisierten Nutzung von TrueCrypt"
153, "Projekt wählen ..."
154, "%s wurde bereits heruntergeladen!"

//Englisch
200, "Information"
201, "Warning"
202, "Error"
203, "Question"
204, "Confirmation"
205, "Update"
206, "abort"
207, "Canceled!"
208, "Done!"
209, "Please select download folder"
210, "View"
211, "Do you want to install the update now?"
212, "Unable to connect to the update server!"
213, "Please check your internet connection and try again."
214, "Help"
215, "Search for Update"
216, "Download Certificate"
217, "About ..."
218, " impossible!"
219, " HTTP error: %d"
220, ""
221, "Update (Build %d) available!"
222, "Do you want to download it now?"
223, "No update available!"
224, "Download the update"
225, "Choose Language"
226, "Report a bug"
227, "The certificate of PM Code Works is already installed!"
228, "Do you want to download it anyway?"
229, "Go to website"
230, "Download has been canceled!"
231, "Fatal error"
232, "Technical details"
233, ""
234, "Recently %s is offered as a 64-bit version to download allowing your "
235, "system to use resources optimally. Do you want to download this?"
236, "Registy file *.reg|*.reg"
237, ""
238, ""
239, ""
240, ""
241, "Download"
242, "Do you want to install %s now?"
243, "Nothing has been selected!"
244, "\"PM Code Works\" projects"
245, "A cleansing program to edit autostart, context menu and service items"
246, ""
247, "A child safety program for authorization management with passwort feature"
248, ""
249, "A program for uncomplicated entries of company or manufacturer information"
250, ""
251, "A perfect alarm clock for remembering everything"
252, "Script for simplified and automated usage of TrueCrypt"
253, "Select project ..."
254, "%s has been already downloaded!"

//Französisch
300, "Information"
301, "Avertissement"
302, "Erreur"
303, "Question"
304, "Confirmation"
305, "MAJ"
306, "abandonner"
307, "Annulé!"
308, "Prêt!"
309, "S'il vous plaît sélectionnez le dossier de téléchargement"
310, "Voir"
311, "Voulez-vous installer la mise à jour maintenant?"
312, "Impossible de se connecter au serveur de mise à jour!"
313, "S'il vous plaît vérifier votre connexion Internet et essayez à nouveau."
314, "Aider"
315, "Chercher mise à jour"
316, "Télécharger le Certificat"
317, "à propos de..."
318, " impossible!"
319, " HTTP erreur: %d"
320, ""
321, "Mise à jour (Build %d) disponible!"
322, "Voulez-vous le télécharger maintenant?"
323, "Il n'ya pas de mise à jour disponible!"
324, "Télécharger mise à jour"
325, "Choisir langue"
326, "Signaler une erreur"
327, "Le certificat de PM Codeworks est déjà installé!"
328, "Voulez-vous télécharger de toute façon?"
329, "Aller sur le site"
330, "Télécharger a été annulé!"
331, "Erreur fatale"
332, "Détails techniques"
333, ""
334, "Récemment %s est offert en version 64 bits pour télécharger permettre à "
335, "votre système de fonctionner de manière optimale. Voulez-vous télécharger ce?"
336, "Fichier enregistrement *.reg|*.reg"
337, ""
338, ""
339, ""
340, ""
341, "Télécharger"
342, "Voulez-vous installer %s maintenant?"
343, "Rien n'a été sélectionné!"
344, "\"PM Code Works\" projets"
345, "Un programme de nettoyage de modifier les entrées de démarrage automatique "
346, "et le menu de contexte"
347, "Un programme de sécurité de l'enfant pour la gestion de l'autorisation avec "
348, "la fonction de mot de passe"
349, "Un programme pour les entrées simples de la société ou des informations du "
350, "fabricant"
351, "Un réveil parfait pour se souvenir de tout"
352, "Script pour simplifié et automatisé en utilisant TrueCrypt"
353, "Sélectionnez projet ..."
354, "%s a été déjà téléchargé!"
}
